#alert_banner {
  width: 100%;
  height: 58px;
  padding-top: 10px;
  background: rgb(245, 245, 245);
  margin-top: 96px;
}

#alert_banner div {
  text-align: center;
}

#alert_banner p {
  font-size: 14px;
  line-height: 14px;
}

#alert_banner a {
  font-size: 12px;
  line-height: 12px;
  text-decoration: underline;
}

#hero {
  width: 100%;
  height: auto;
  padding: 0 48px;
}

.hero_wrap {
  position: relative;
  width: 100%;
  height: 900px;
  padding: 0 8px;
  background: url(../img/nike-just-do-it.jpg) center center no-repeat;
  background-size: cover;
}

.hero_wrap_title {
  position: absolute;
  left: 36px;
  bottom: 36px;
}

.hero_wrap_title h2 {
  font-family: "Nike Futura";
  font-size: 72px;
  line-height: 58px;
  color: white;
}

.hero_wrap_title p {
  color: white;
  margin-top: 6px;
  margin-bottom: 18px;
}

.hero_wrap_title button {
  width: 86px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* trending section */

#trending {
  width: 100%;
  height: auto;
  padding: 0 48px;
}

.trending_title {
  margin-top: 84px;
  margin-bottom: 27px;
  width: 100%;
}

.trending_contents_wrap {
  width: 100%;
  display: flex;
}

.trending_contents_wrap_1 {
  position: relative;
  width: calc(50% - 8px);
  margin-right: 8px;
  height: 700px;
  background: url(../img/nike-just-do-it\ 1.jpg) no-repeat center center;
  background-size: cover;
}

.trending_contents_wrap_2 {
  position: relative;
  width: calc(50% - 8px);
  margin-left: 8px;
  height: 700px;
  background: url(../img/nike-just-do-it\ 2.jpg) no-repeat center center;
  background-size: cover;
}

.trending_contents_title {
  position: absolute;
  left: 38px;
  bottom: 38px;
}

.trending_contents_title p {
  font-size: 20px;
  color: white;
  margin-top: 6px;
  margin-bottom: 18px;
}

.trending_contents_title button {
  width: 86px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 8px 8px 0 0;
}

/* Footwear Section */

#footwear {
  width: 100%;
  padding-top: 84px;
}

.footwear_wrap {
  width: 100%;
  height: auto;
}

.footwear_wrap h2 {
  margin-left: 46px;
  margin-bottom: 24px;
}

.footwear_title {
  margin-top: 84px;
  margin-bottom: 27px;
  width: 100%;
}

.footwear_ul_scroll {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 30px;
}

.footwear_ul {
  width: 300%;
  height: auto;
  display: flex;
}

.footwear_ul li {
  width: 30vw;
  position: relative;
  margin-right: 16px;
}

.footwear_ul li:first-child {
  margin-left: 56px;
  margin-right: 16px;
}

.footwear_ul li:last-child {
  margin: 0;
}

.footwear_ul li div {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  line-height: 24px;
  padding-right: 16px;
  font-size: 16px;
}

.footwear_ul li div p span {
  display: block;
}

.footwear_ul li div p span:first-child {
  color: rgb(17, 17, 17);
}

.footwear_ul li div p span:last-child {
  color: rgb(117, 117, 117);
}

.footwear_ul img {
  width: 100%;
}

/* newfromsection */

#newfrom {
  width: 100%;
  height: auto;
  padding: 0 48px;
}

.newfrom_title {
  margin-top: 84px;
  margin-bottom: 27px;
  width: 100%;
}

.newfrom_contents_wrap {
  width: 100%;
  display: flex;
}

.newfrom_contents_wrap_1 {
  position: relative;
  width: calc(50% - 8px);
  margin-right: 8px;
  height: 700px;
  background: url(../img/nike-just-do-it\ 4big.jpg) no-repeat center center;
  background-size: cover;
}

.newfrom_contents_wrap_2 {
  position: relative;
  width: calc(50% - 8px);
  margin-left: 8px;
  height: 700px;
  background: url(../img/nike-just-do-it\ vapormaxbig.jpg) no-repeat center
    center;
  background-size: cover;
}

.newfrom_contents_title {
  position: absolute;
  left: 38px;
  bottom: 38px;
}

.newfrom_contents_title p {
  font-size: 20px;
  color: white;
  margin-top: 6px;
  margin-bottom: 18px;
}

.newfrom_contents_title button {
  width: 86px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 8px 8px 0 0;
}

/* Toppick Section */

#toppick {
  width: 100%;
  height: auto;
  padding: 84px 0 0;
}

.toppick_wrap {
  width: 100%;
  height: auto;
  padding: 0 40px 0 48px;
}

.toppick_wrap h2 {
  margin: 0 0 24px 20px;
}

.toppick_ul_scroll {
  width: 100%;
}

.toppick_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toppick_ul li {
  width: 33.333%;
  height: auto;
  margin-right: 8px;
  position: relative;
}

.toppick_ul li img {
  width: 100%;
}

.toppick_ul li p {
  margin-top: 12px;
  font-size: 18px;
}

/* Member Join Section */

#membership {
  width: 100%;
  height: auto;
  padding: 84px 56px 0;
}

.membership_wrap {
  width: 100%;
  height: 600px;
  text-align: center;
}

.membership_wrap figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership_wrap img {
  width: 1400px;
}

.button_black {
  width: 86px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 8px 8px 0 0;
}

/* Menulink Section */

#menulink {
  width: 100%;
  height: auto;
  padding: 84px 56px 40px;
}

.menulink_wrap {
  width: 880px;
  max-height: 180px;
  overflow-y: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: max-height 0.3s ease-in-out;
}

.menulink_wrap:hover {
  max-height: 1200px;
}

.menulink_ul {
  width: 184px;
}

.menulink_ul li {
  margin-bottom: 12px;
}

.menulink_ul li:first-child {
  color: rgb(17, 17, 17);
  font-weight: 600;
  margin-bottom: 24px;
}

.menulink_ul li a {
  color: rgb(117, 117, 117);
}

footer {
  width: 100%;
  background-color: rgb(17, 17, 17);
}

footer a {
  color: white;
}

.footer_wrap {
  padding: 40px 40px 0;
  margin: 0 auto;
  width: 1440px;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
}

/* Desktop Responsive Section */

@media screen and (max-width: 1023px) {
  #main_header {
    height: 60px;
    overflow: hidden;
  }

  #alert_banner {
    margin-top: 60px;
  }

  #hero {
    padding: 0 20px;
  }

  .hero_wrap {
    height: 700px;
  }

  /* trending setion */

  #trending {
    padding: 0 20px;
  }

  .trending_contents_wrap_1,
  .trending_contents_wrap_2 {
    height: 500px;
  }

  .trending_contents_title {
    left: 36px;
    bottom: 36px;
  }

  /* footwaer section */

  .footwear_ul {
    width: 3098px;
  }

  .footwear_ul li {
    width: 330px;
    position: relative;
    margin-right: 16px;
  }

  /* newfrom */

  #newfrom {
    padding: 0 20px;
  }

  .newfrom_contents_wrap_1,
  .newfrom_contents_wrap_2 {
    height: 500px;
  }

  .newfrom_contents_title {
    left: 36px;
    bottom: 36px;
  }

  /* Toppick Section */

  #toppick {
    padding: 84px 0 0;
  }

  .toppick_wrap h2 {
    margin: 0 0 24px 20px;
  }

  .toppick_ul_scroll {
    width: 100%;
    overflow-x: scroll;
  }

  .toppick_ul li {
    width: 346px;
  }

  .toppick_ul li img {
    width: 330px;
  }

  .toppick_ul li:first-child {
    margin-left: 12px;
  }

  /* menulink section */

  #menulink {
    width: 100%;
    height: auto;
    padding: 84px 20px 40px;
  }

  .menulink_wrap {
    width: 100%;
    max-height: 180px;
    overflow-y: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: max-height 0.4s;
  }

  .menulink_wrap:hover {
    max-height: 1200px;
  }

  .menulink_ul {
    width: 25%;
  }

  .menulink_ul li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Mobile Responsive Section */

@media screen and (max-width: 639px) {
  .hero_wrap {
    background: none;
  }

  .hero_wrap figure {
    width: 100%;
    height: 500px;
    display: block;
    background: url(../img/nike-just-do-it.jpg) no-repeat center center;
  }

  .hero_wrap_title {
    position: static;
    left: 36px;
    bottom: 36px;
    margin-top: 18px;
  }

  .hero_wrap_title br {
    display: none;
  }

  .hero_wrap_title h2 {
    font-family: "Nike Futura";
    font-size: 48px;
    line-height: 40px;
    color: rgb(17, 17, 17);
  }

  .hero_wrap_title p {
    color: rgb(17, 17, 17);
    margin-top: 6px;
    margin-bottom: 18px;
  }

  .hero_wrap_title button {
    width: 86px;
    height: 40px;
    background-color: #000;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
  }

  /* Trending Section */

  .trending_title {
    padding: 0 8px;
  }

  .trending_contents_wrap {
    display: block;
  }

  .trending_contents_wrap_1,
  .trending_contents_wrap_2 {
    width: calc(100% - 8px);
    height: 500px;
    margin-left: 8px;
  }

  .trending_contents_wrap_1 {
    background: url(../img/nike-just-do-it\ 1.jpg);
    background-size: cover;
  }

  .trending_contents_wrap_2 {
    background: url(../img/nike-just-do-it\ 2.jpg);
    background-size: cover;
  }

  .trending_contents_wrap_2 {
    margin-top: 8px;
  }

  .trending_contents_title {
    left: 24px;
    bottom: 24px;
  }

  .trending_contents_wrap_1 .trending_contents_title p {
    color: #000;
  }

  .trending_contents_title button {
    width: 92px;
  }

  .trending_contents_wrap_1 button {
    background-color: #000;
    color: #fff;
  }

  /* footwear */

  .footwear_ul {
    width: 2828px;
  }

  .footwear_ul li {
    width: 300px;
    position: relative;
    margin-right: 16px;
  }

  .footwear_ul li div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 12px;
    line-height: 24px;
    padding-right: 16px;
    font-size: 16px;
  }

  /* newfrom section */

  .newfrom_title {
    padding: 0 8px;
  }

  .newfrom_contents_wrap {
    display: block;
  }

  .newfrom_contents_wrap_1,
  .newfrom_contents_wrap_2 {
    width: calc(100% - 8px);
    height: 500px;
    margin-left: 8px;
  }

  .newfrom_contents_wrap_1 {
    background: url(../img/nike-just-do-it\ 4.jpg);
    background-size: cover;
  }

  .newfrom_contents_wrap_2 {
    background: url(../img/nike-just-do-it\ vapormax.jpg);
    background-size: cover;
  }

  .newfrom_contents_wrap_2 {
    margin-top: 8px;
  }

  .newfrom_contents_title {
    left: 24px;
    bottom: 24px;
  }

  .newfrom_contents_wrap_1 .newfrom_contents_title p {
    color: #000;
  }

  .newfrom_contents_title button {
    width: 92px;
  }

  .newfrom_contents_wrap_1 button {
    background-color: #000;
    color: #fff;
  }

  /* toppick section */

  .toppick_ul li {
    width: 316px;
  }

  /* membership section */

  #membership {
    width: 100%;
    height: auto;
    padding: 84px 20px 0;
  }

  .membership_wrap a {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }

  .membership_wrap figure img {
    display: flex;
    justify-content: center;
  }

  .membership_button {
    text-align: left;
    padding-left: 30px;
  }

  /* menulink section */

  #menulink {
    width: 100%;
    height: auto;
    padding: 84px 20px 40px;
  }

  .menulink_wrap {
    width: 100%;
    max-height: 1800px;
    overflow-y: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: max-height 0.3s ease-in-out;
  }

  .menulink_wrap:hover {
    max-height: 1500px;
  }

  .menulink_ul {
    width: 100%;
    max-height: 40px;
    overflow-y: hidden;
    margin-bottom: 20px;
    transition: max-height 0.4s;
  }

  .menulink_ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

@media screen and (max-width: 446px) {
  .hero_wrap_title br {
    display: block;
  }
}
